.App {
  height: 100vh;
  display: grid;
  text-align: center;
  grid-template-rows: 10% 50px 10fr;
}

header {
  border: 2px solid rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0.5);
}

nav {
  display: inline-flex;
  padding: 10px;
  background-color: #cee3f8;
  border-bottom: #5f99cf 1px solid;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #448ffa;
}

/* Nav bar */

.user-login {
  right: 4px;
  position: absolute;
}

.login-button {
  border-radius: 25px;
  border: none;
  padding: 4px 8px;
  background-color:#eff7fe
}

.menu-button {
  margin-bottom: 4px;
  margin-right: 4px;
}