h3 {
  margin-bottom: 0px;
}

.article-list {
  padding-bottom: 20px;
}

.article-card-container {
  display: grid;
  text-align: left;
  grid-template-columns: 0.5fr 6fr;
  grid-template-rows: 1.5fr 1fr 1fr;
  grid-template-areas:
    "vote-container title"
    "vote-container article-card-details"
    "vote-container article-interactions";
  background-color: white;
}

.topic-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topic-title {
  text-align: start;
}

.article-divider {
  margin: 0 auto;
  content: "";
  width: 90%;
  display: block;
  border-bottom: 1px solid darkgray;
  padding-top: 2px;
}

.article-card-details {
  grid-area: article-card-details;
  font-size: 14px;
}

.article-interactions {
  grid-area: article-interactions;
}

.article-form {
  display: flex;
  direction: column;
  justify-content: flex-end;
}

.form-button {
  border-radius: 25px;
  border: none;
  padding: 8px 8px;
  margin: 0 14px;
  font-size: 15px;
  color: #eff7fe;
  background-color: darkslategray;
}
