.article-container {
  margin: 15px 20%;
  padding: 15px;
  border: #e9e9e9 solid 2px;
  background: #f0f0fc;
}

.article-header {
  display: flex;
}

.article-title {
  align-self: center;
}

.article-body {
  text-align: left;
  background: #fafafa;
  border: #c0bdbe solid 1px;
  padding: 15px;
  margin-bottom: 0px;
}

.body-divider {
  margin: 0 auto;
  content: "";
  width: 60%;
  display: block;
  border-bottom: 2px lightgrey dotted;
}

.comment-button {
  border-radius: 25px;
  border: none;
  padding: 8px 8px;
  margin: 0 14px;
  font-size: 15px;
  color: #eff7fe;
  background-color: darkslategray;
}

.comment-form {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.comment-text {
  height: 90%;
  width: 40%;
}
