.comment-list {
    background-color: white;
    padding-bottom: 20px;
    margin: 0px 30px;
  }
  
  .comment-container {
    display: grid;
    text-align: left;
    grid-template-columns: 0.5fr 6fr;
    grid-template-rows: 1fr, 3fr;
    margin: 8px;
 
    grid-template-areas:
    "vote-container comment-details"
    "vote-container comment-body";
    border: 1px solid #e6e6e6;
    background-color: #f7f7f8;
  }
  
  .comment-details {
    padding-top: 4px;
    grid-area: comment-details;
    font-size: 14px;
  }
  
  .comment-body {
    grid-area: comment-body;
    text-align: left;
  }