.vote-container {
    grid-area: vote-container;
    text-align: center;
    border: 2px dotted rgba(255, 0, 0, 1);
    margin: 4px;
  }

.vote-up, .vote-down {
    background: transparent;
    border: solid black 1px;
}

.vote-up:disabled {
    color: #FF8b60;
}

.vote-down:disabled {
    color: #9494FF;
}

.vote-score {
    font-size: 24px;
}
