.vote-container {
    grid-area: vote-container;
    text-align: center;
    margin: 4px;
  }

.vote-up, .vote-down {
    background: transparent;
    border: none;
    color: darkslategray;
}


.vote-up.voted-up{
    color: #FF8b60;
}

.vote-down.voted-down{
    color: #9494FF;
}

.vote-score {
    font-size: 24px;
    color: darkslategray;
}
